<div class="container-saved">
    <div class="row">
        <div class="col-12">
            <div class="card text-center">
                <div class="card-header">
                    <div class="header-text">
                        <h3>What is life, but one grand adventure!</h3>
                        <h5>Add all the amazing places you've been below:</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Campground name: </label>
                        <input type="text" class="campName" placeholder="Goose Creek">
                    </div>
                    <div class="form-group">
                        <label for="location">Campground location: </label>
                        <input type="text" class="campLocation" placeholder="Sedalia Colorado">
                    </div>
                    <div class="form-group">
                        <label for="description">Give a brief description of your experience! What did you like?
                        </label>
                        <br>
                        <textarea type="text" class="campDescription"
                            placeholder="Great site! Host was friendly and there are good hiking trails nearby."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="rating">Pick a rating for this campground!</label>
                        <sublabel>(5 being perfect, 0 being never again.)</sublabel>
                        <select class="form-control campRating" id="rating">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button type="submit" class="btn save-site btn-default save-btn"><i class="far fa-save"></i>  Save</button>
                    {{!-- <button type="submit" class="btn save-site btn-default">Save your campsite!</button> --}}
                </div>
            </div>
            <ul>
                {{#each campsite}}
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="card text-centered">
                                <div class="card-header">
                                    <h5>{{name}}</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Location: {{location}}</p>
                                    <p class="card-text">Description: {{description}}</p>
                                    <p class="card-text">Rating: {{rating}}</p>
                                </div>
                                {{!-- <a href="/update/{{id}}" class="btn">Edit</a> --}}
                                <button class="delete-btn btn" data-id="{{id}}"> <i class="far fa-trash-alt"></i> Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>