<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card text-center">
                <div class="card-header">
                    Add some your favorite campsites that you've previously visited!
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Campsite name</label>
                        <input type="text" class="campName" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="location">Campsite location</label>
                        <input type="text" class="campLocation" placeholder="Location">
                    </div>
                    <div class="form-group">
                        <label for="description">Give a brief description of your experience! What did you like?</label>
                        <textarea type="tex" class="campDescription" placeholder="Your Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="rating">Pick a rating for this campsite! 5 being perfect, 0 being never again.</label>
                        <select class="form-control campRating" id="rating">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <button type="submit" class="btn btn-default">Save your campsite!</button>
                    </div>
                    <button type="submit" class="btn save-site btn-default">Save your campsite!</button>
                </div>
            </div>
            <ul>
                {{#each campsite}}
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="card text-center">
                                <div class="card-header">
                                    {{name}}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{location}}</h5>
                                    <p class="card-text">{{description}}
                                    </p>
                                </div>
                                <div class="card-footer text-muted">
                                    {{rating}}
                                </div>
                                <button class="delete-btn" data-id="{{id}}">
                                    Delete campsite
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </ul>
    </div>
</div>

