<div class="container-wishlist">
    <div class="row">
        <div class="col-12">
            <div class="card text-center">
                <div class="card-header">
                    <div class="header-text">
                    <h3>I'd rather be camping.</h3>
                    <h5>Add all the amazing places you would love to go:</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Campsite name</label>
                        <input type="text" class="campName" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="location">Campsite location</label>
                        <input type="text" class="campLocation" placeholder="Location">
                    </div>
                    <div class="form-group">
                        <label for="description">Give a brief description of what you're looking forward to at this campsite?</label>
                        <textarea type="text" class="campDescription" placeholder="Your Description"></textarea>
                    </div>
                    <button type="submit" class="btn save-btn4 btn-default">SAVE</button>
                </div>
            </div>
        </div>
        <ul>
            {{#each campsite}}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card text-center">
                            <div class="card-header">
                                {{name}}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{location}}</h5>
                                <p class="card-text">{{description}}
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                {{rating}}
                            </div>
                            <button class="delete-btn" data-id="{{id}}">
                                Delete campsite
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </ul>
        </body>
    </div>
</div>    